body{
    background-image: url(../images/background.png);
    margin: 0;
}
.nav
{
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}
.nav a
{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color:rgb(159, 159, 159);
    text-decoration: none;
}
.nav a:hover{
    color:rgb(255, 149, 0);
}
.rightnav
{
    float: right;
}
button
{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
}
button a{
    text-decoration: none;
    color: rgb(165, 91, 0);
    font-weight: 700;
}
button a:hover{
    color:rgb(209, 115, 0);
    font-size:15px;
}
#Welcome
{
    padding-top: 3%;
}
#Body
{
    color: rgb(205, 205, 205);
    text-align: center;
}