body{
    background-image: url(../images/background.png);
    color:rgb(155, 155, 155);
    margin: 0;
}
.nav
{
    background-color: rgba(255, 255, 255, 0);
    color:rgb(155, 155, 155);
    padding: 20px;
}
.nav a
{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color:rgb(155, 155, 155);
    text-decoration: none;
}
.nav a:hover{
    color:rgb(5, 95, 96);
}
.rightnav
{
    float: right;
}

anibutton   /*animated buttons*/
{
    color: rgb(155, 155, 155);
    display: inline-block;
    padding: 25px 45px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(5, 95, 96);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(126, 126, 126);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;

}
anibutton:hover{
    background-color: rgb(4, 69, 70);
}
anibutton:active{
    background-color: rgb(4, 55, 56);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button   /*regular button*/
{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
}
button a{
    text-decoration: none;
    color: rgb(165, 91, 0);
    font-weight: 700;
}
button a:hover{
    color:rgb(209, 115, 0);
    font-size:15px;
    cursor:pointer;
} 
#Welcome
{
    padding-top: 3%;
}
h1
{
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}
h2
{
    text-align: center;
    padding-top: 110px;
    font-size: 35px;
}
h3{
    text-align: center;
    font-size: 30px;
}
#span{
    padding-left: 9%;
}
a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}
#Body{
    text-align: center;
}

.dropbtn 
{
    background-color: #ffffff00;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color:rgb(155, 155, 155);
}
  
.dropdown 
{
    position: relative;
    display: inline-block;
    background-color: #f1f1f100;
}
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #ffffff00;
    min-width: 10px;
    box-shadow: 0px 8px 10px 0px rgba(255, 255, 255, 0);
    z-index: 1;
}
  
.dropdown-content a 
{
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    display: block; 
    border:none;
}
  
.dropdown-content a:hover 
{
    background-color: #f1f1f100;
    
}
  
.dropdown:hover .dropdown-content 
{
    display: block;
}
  
.dropdown:hover .dropbtn 
{
    background-color: #ffffff00;
}
  
