body {
  font-family: 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #e6faee, #fff4d9, #ffdfe0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.nav {
  margin-top: 15px;
  padding: 0px 20px 10px 20px;
  border-bottom: 3px solid black;
}

.navicons {
  cursor: pointer;
  font-size: 30px;
  width: 65px;
  border: none;
  color: black;
  background-color: transparent;
  transition: transform .25s ease-in-out;
}
.navicons:hover {
  transform: scale(1.2, 1.2);
  color: #ffa274;
}
  
.rightnav {
    float: right;
}
.accountBtn {
    cursor: pointer;
    font-size: 30px;
    width: 85px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}

.accountBtn:hover {
    transform: scale(1.2, 1.2);
    color: #ffa274;
}


.message {

  width: 99%;
  position: absolute;
  margin-top: 5%;
  text-align: center;
}

.welcome {
  font-size: 50px;
}

.name_title {
  font-size: 85px;
}