body{
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #e6faee, #fff4d9, #ffdfe0);
    text-decoration: none;
}
.nav {
    margin-top: 15px;
    padding: 0px 20px 10px 20px;
    border-bottom: 3px solid black;
  }
  
.navicons {
    cursor: pointer;
    font-size: 30px;
    width: 65px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}
.navicons:hover {
    transform: scale(1.2, 1.2);
    color: #ffa274;
}
.rightnav
{
    float: right;
}

.logout_btn  {
    cursor: pointer;
    font-size: 30px;
    width: 85px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}

.logout_btn:hover {
    transform: scale(1.2, 1.2);
    color: #ffa274;
}

.button_container {
    text-align: center;
}
.feature_button   /*animated buttons*/
{
    padding: 25px 45px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 255, 255);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;
    background: rgb(199, 219, 255);
    transition: all 0.25s ;
    
}
.feature_button:hover{
    box-shadow: 0 9px transparent;
    transform: scale(1.3,1.3);
}
.feature_button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
