body{
    width: 100%;
    height:100%;
    margin: 0;
}
.nav
{
    background-color: rgb(255, 191, 112);
    padding: 20px;
}
.nav a
{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color:black;
    text-decoration: none;
}
.nav a:hover{
    color:rgb(165, 91, 0);
}
.navlog
{
    float: right;
}
button
{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin-left: 100px;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 191, 112, 0.315);
    border: 2px solid rgba(0, 0, 0, 0.521);
    color: rgb(71, 71, 71);
}
button:hover{
    background-color: rgba(255, 191, 112, 0.527)
}
.functions{
    display: block;
    float: left;
    margin-left: 3%;
    margin-top: 2%;
}
.functions button{
    width: 180px;
    height: 60px;
}
.menu{
    margin-top: 2%;
    width: 65%;
    height: 10%;
    margin-right: 1%;
    display: block;
    float: right;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    color: black;
}
.menu label
{   
    top: 2%;
    font-size: 50px;
}
.menu .bar
{
    float: left;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;

    border-right: 1px solid black;
}
.menu .bar button
{
    font-size:20px;
    width: 130px;
    height: 60px;
    color: black;
}
.plate{
    display: block;
    float: right;
    width:75%;
    height:100%;
}
button
{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 35px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.521);
    color: black;
}
#Welcome
{
    padding-top: 3%;
}
h1
{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
}
h2
{
    text-align: center;
    padding-top: 110px;
    font-size: 35px;
}
h3{
    text-align: center;
    font-size: 30px;
}
#span{
    padding-left: 9%;
}