body{
    margin: 0;
    background-image: url(../images/background.png);
    color: rgb(155,155,155);
}
.nav
{
    background-color: rgba(255, 255, 255,0);
    padding: 20px;
}
.nav a
{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color:rgb(155,155,155);
    text-decoration: none;
}
.nav a:hover{
    color:rgb(5, 95, 96);
}
.rightnav
{
    float: right;
}
button
{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin-left: 100px;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 191, 112, 0.315);
    border: 2px solid rgba(0, 0, 0, 0.521);
    color: rgb(71, 71, 71);
}
button:hover{
    background-color: rgba(255, 191, 112, 0.527)
}

button
{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 35px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.521);
    color: black;
}
#Welcome
{
    padding-top: 3%;
}
h1
{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
}
h2
{
    text-align: center;
    padding-top: 110px;
    font-size: 35px;
}
h3{
    text-align: center;
    font-size: 30px;
}
#span{
    padding-left: 9%;
}
#statsTable {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    width: 90vw;
}
#itemsTable{
    text-align: center;
    margin: auto;
    width: 90vw;
    border: 1px solid black;

}
#itemsTable tfoot{
    text-align: center;
}
.itemName{
    text-align: left;
}
#itemsNameHeader{
    text-align: left;
    padding: 0 5vw;
}
.actionButton{
    padding: 0 1vw;
    background-color:rgb(255, 191, 112);
        	/*prevent text highlights*/
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#paymentTable{
    margin: 2vh auto;
    /*width: 65vw;*/
    text-align: center;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#paymentTable th{
    width: 50%;
}

/*
#employeeFunctions{
    margin: auto;
    width: 100%;
}
#employeeFunctions #newOrder{
    text-align: left;
    padding: 1vh 1vw;
}
#employeeFunctions #kitchen{
    text-align: right;
    padding: 1vh 1vw;
}
*/

.employeePrivilege{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.employeePrivilege li{
    float: right;
    padding: 1vh 1vw;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/*
#paymentTableBody{
    text-align: left;
}
*/


#eRTUL{
    margin: auto;
    list-style: none;
    display: block;
}
#eRTUL li{
    float: left;
    margin: 1vh 3vw;
}
