body{
    background-image: linear-gradient(to right, #e6faee, #fff4d9, #ffdfe0);
    font-family: 'Trebuchet MS', sans-serif;
}
.nav {
    margin-top: 15px;
    padding: 0px 20px 10px 20px;
    border-bottom: 3px solid black;
}

.navicons {
    cursor: pointer;
    font-size: 30px;
    width: 65px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}
.navicons:hover {
    transform: scale(1.5, 1.5);
    color: #ffa274;
}

.rightnav {
    float: right;
}
.accountBtn, .dash_btn, .logout_btn  {
    cursor: pointer;
    font-size: 30px;
    width: 85px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}

.accountBtn:hover, .dash_btn:hover, .logout_btn:hover  {
    transform: scale(1.5, 1.5);
    color: #ffa274;
}
#statsTable {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    width: 90vw;
}
#itemsTable{
    text-align: center;
    margin: auto;
    width: 90vw;
    border: 1px solid black;

}
#itemsTable tfoot{
    text-align: center;
}
.itemName{
    text-align: left;
}
#itemsNameHeader{
    text-align: left;
    padding: 0 5vw;
}
.actionButton{
    padding: 0 1vw;
    background-color:rgb(255, 191, 112);
        	/*prevent text highlights*/
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#paymentTable{
    margin: 2vh auto;
    /*width: 65vw;*/
    text-align: center;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
    font-size: 20px;
}

#paymentOptionCC, #paymentOptionCash, #completeTransaction {
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    transition: all 0.25s;
    width: 40%;
    
}
#paymentOptionCC:hover, #paymentOptionCash:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    
}


#completeTransaction:hover {
    cursor: pointer;
    background-color: rgb(173, 255, 173);
    
}


.employeePrivilege{
    list-style-type: none;
    margin: 0;
    margin-bottom: 100px;

}
.employeePrivilege li{
    float: right;
    padding: 1vh 1vw;
    padding-bottom: 1.5vh;
    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

    background-color: white;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin-left: 10px;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    transition: all 0.25s;
    height: 15px;
}

.employeePrivilege li:hover{
    cursor: pointer;
    background-color: rgb(216, 216, 216); 
    height: 25px;
}

/*  */

.tableTitle{
    font-size: 30px;
  }


#itemsTable{
    background: white;
}



/* #paymentTable th{
    width: 50%;
} */

/* 
#eRTUL{
    margin: auto;
    list-style: none;
    display: block;
}
#eRTUL li{
    float: left;
    margin: 1vh 3vw;
} */


/*
#employeeFunctions{
    margin: auto;
    width: 100%;
}
#employeeFunctions #newOrder{
    text-align: left;
    padding: 1vh 1vw;
}
#employeeFunctions #kitchen{
    text-align: right;
    padding: 1vh 1vw;
}
*/