body{
    background-image: linear-gradient(to right, #e6faee, #fff4d9, #ffdfe0);
    font-family: 'Trebuchet MS', sans-serif;
}
.nav {
    margin-top: 15px;
    padding: 0px 20px 10px 20px;
    border-bottom: 3px solid black;
}

.navicons {
    cursor: pointer;
    font-size: 30px;
    width: 65px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}
.navicons:hover {
    transform: scale(1.5, 1.5);
    color: #ffa274;
}

.rightnav {
    float: right;
}
.accountBtn, .dash_btn, .logout_btn  {
    cursor: pointer;
    font-size: 30px;
    width: 85px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}

.accountBtn:hover, .dash_btn:hover, .logout_btn:hover  {
    transform: scale(1.5, 1.5);
    color: #ffa274;
}
.box{
    width: auto;
    height: auto;
    text-align: center;
    transition: all 0.25s;
}

.box:hover{
    transform: scale(1.2,1.2);
}

.gridcontainer {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 75vh;
}


table{
    width: 100%;
    height: 75%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid black;

    
    
}

.buttons{
    height: 5vh;
    width: 100vh;

}

.tableBar{
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 35vh;
    padding: 10px;
    text-align: center;


}

.tableBtns {
    background: white;
    color: black;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 35px;
    width: auto;
    transition: all 0.25s;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 12px;
}


.table_select{
    font-size: 20px;
}

.tableBtns:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}


#table_settings {
    margin-top: 15vh;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 35vh;
    text-align: center;
    padding: 10px;
}

.saveBtn {
    background: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: auto;
    margin-left: auto;
    height: 50px;
    width: 200px;
    transition: all 0.25s;
    font-size: 30px;
    position: absolute;
    z-index: 1;
}

.saveBtn:hover{
    background: rgb(181, 255, 159);
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.current_action {
    font-size: 20px;
    margin-bottom: 10px;
}

