body{
  background-image: linear-gradient(to right, #e6faee, #fff4d9, #ffdfe0);
  font-family: 'Trebuchet MS', sans-serif;
}
.nav {
  margin-top: 15px;
  padding: 0px 20px 10px 20px;
  border-bottom: 3px solid black;
}

.navicons {
  cursor: pointer;
  font-size: 30px;
  width: 65px;
  border: none;
  color: black;
  background-color: transparent;
  transition: transform .25s ease-in-out;
}
.navicons:hover {
  transform: scale(1.5, 1.5);
  color: #ffa274;
}
 
.rightnav {
    float: right;
}
.accountBtn, .dash_btn, .logout_btn  {
  cursor: pointer;
  font-size: 30px;
  width: 85px;
  border: none;
  color: black;
  background-color: transparent;
  transition: transform .25s ease-in-out;
}

.accountBtn:hover, .dash_btn:hover, .logout_btn:hover  {
  transform: scale(1.5, 1.5);
  color: #ffa274;
}

.modal {
  display: none;
  /* visibility: hidden; */
  position: fixed; /*Stay in place*/
  z-index: 1; /*Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px; 
  text-align: center;
  align-items: center;
}
  
.modal-content {
  margin: 5% auto 15% auto;

  width: 170px; /* Could be more or less, depending on screen size */
  color: white;
  
} 
#modal_name::placeholder{
  text-align: center;
}
#modal_currentQuantity::placeholder{
  text-align: center;
}
#modal_requiredQuantity::placeholder{
  text-align: center;
}

.inputs{
  position: relative;
  width: 100%;
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  background-color: #e6faee;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto 0 auto;
  overflow: auto;
  font-size: 20px;
  display: table;
  position: relative;
}
.inputselect, .add{
  width: 50%;
  font-size: 20px;
}
.closeBtn {
  margin: 0;
  font-size: 30px;
  background-color: transparent;
  color: red;
  border: none;
  text-decoration: none;
}
tbody{
  height: 250px;
  text-align: center;

  
}
th{
  transition: all 0.25s;
}

table tr td {
  border-bottom: 2px solid transparent;
  padding: 8px;
  
}
table tr th:first-child,
table tr td:first-child {
  border-left: 2px solid transparent;
}
table tr th {
  background: rgb(39, 36, 36);
  border-top: 2px solid transparent;
  text-align: center;
}

table tr th{
  color: white;
  padding: 15px;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:nth-child(even) { background: #EEE; }
tr:nth-child(odd) { background: rgb(219, 217, 217); } 


table tbody tr{
  transition: all 0.5s;
}
table tbody tr:hover {
  color: black;
  background-color: white;
  transform: scale(1.1,1.1);
  
}

.deleteBtn{
  border-radius: 5px;
  background-color: rgb(39, 36, 36);
  color: white;
  width: 75%;
  height: 100%;
  padding: 5px;
  transition: all 0.3s;
}

.deleteBtn:hover{
  cursor: pointer;
  border: 1p solid black;
  color:#000000;
  background-color: rgb(255, 109, 109);
}

.refreshBtn{
  cursor: pointer;
  font-size: 30px;
  width: 85px;
  border: none;
  color: black;
  background-color: transparent;
  transition: transform .7s ease-in-out;
}

.refreshBtn:hover{
  transform: rotate(360deg);
  color: #ffa274;
}
.addBtn, .accountBtn {
  cursor: pointer;
  font-size: 30px;
  width: 85px;
  border: none;
  color: black;
  background-color: transparent;
  transition: transform .25s ease-in-out;
}
.addBtn:hover, .accountBtn:hover {
  transform: scale(1.5, 1.5);
  color: #ffa274;
}
.tableTitle{
  font-size: 30px;
  padding-bottom: 20px;
}
.custom-select{
  text-align: center;
  position: relative;
}
.custom-select select{
  text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    
}
option{
    padding-left: 45%;
}
.inventory_buttons_bar{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;

}
.inventory_button{
  background-color: rgba(134, 255, 134, 0.986);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.842);
}
.inventory_button:hover{
  background-color: rgb(82, 255, 82);

}