body{
    background-image: linear-gradient(to right, #e6faee, #fff4d9, #ffdfe0);
    font-family: 'Trebuchet MS', sans-serif;
}
.nav {
    margin-top: 15px;
    padding: 0px 20px 10px 20px;
    border-bottom: 3px solid black;
}

.navicons {
    cursor: pointer;
    font-size: 30px;
    width: 65px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}
.navicons:hover {
    transform: scale(1.5, 1.5);
    color: #ffa274;
}

.rightnav {
    float: right;
}
.accountBtn, .dash_btn, .logout_btn  {
    cursor: pointer;
    font-size: 30px;
    width: 85px;
    border: none;
    color: black;
    background-color: transparent;
    transition: transform .25s ease-in-out;
}

.accountBtn:hover, .dash_btn:hover, .logout_btn:hover  {
    transform: scale(1.5, 1.5);
    color: #ffa274;
}

td {
    overflow: hidden;
    width: auto;
    height: auto;
    text-align: center;
}

.gridcontainer {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 75vh;
}

.ltrbox{
    transition: all 0.25s;

}



table{
    width: 100%;
    height:100%;
    
    
    border-collapse: collapse;
}

.buttons{
    height: 5vh;
    width: 100vh;
}


.modal {
    /* display: none; */
    visibility: hidden;
    position: fixed; /*Stay in place*/
    z-index: 1; /*Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px; 
    text-align: center;
    align-items: center;

    
  }
    
  .modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 35vh; /* Could be more or less, depending on screen size */
    height: 60vh;
    align-items: center;
    color: white;
  


  } 

.reserveBtn {
    width: 100%;
    height: 100%;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.25s;
    background-color: white;
    border: none;
}
.reserveBtn:hover {
    background-color: rgb(221, 255, 208);
    transform: scale(1.2,1.2);

}

.closeBtn {
    font-size: 30px;
    background-color: transparent;
    color: red;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.resBtn {
    font-size: 30px;
    background-color: white;
    border: none;
}

.resBtn:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

table {
    margin-bottom: 25px;
}